@import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif:regular);

@media (max-width: 768px) {
.theme-white {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffffff;
  width: 375px;
  height: 675px;
  gap: 1px; 
}

.text-section {
  text-align: center;
  margin-bottom: 2rem;
}

.text-section h1 {
  font-family: Rift;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  color: black;
}

.text-section p {
  font-family: Silka;
  font-size: 14px;
  color: black;
  line-height: 1.5;
}

.cards-container {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  /* background: rgba(0, 0, 0, 0.6); */
  color: white;
  text-align: left;
}

.card-content .description {
  text-transform: uppercase;
  font-family: Rift;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  color: white;
}

.card-content h2 {
  font-family: Rift;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  text-decoration: underline;
  color: white;
}

.card-content .price {
  font-family: Rift;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  color: white;
}


  .main-container {
    padding: 1rem;
  }

  .text-section h1 {
    font-size: 24px;
  }

  .text-section p {
    font-size: 12px;
  }
}
