.footer__payment {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    margin-top: 15px;
  }
  
  .footer__payment svg {
    width: 34px; 
    height: 24px; 
    object-fit: contain;
  }
  
    
  