
  /* Styling the Image Slider */
.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .thumbnail-slider {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnails {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }
  
  .thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .thumbnail.active {
    border-color: #ef6d58;
  }
  