.mn-29-test-v5 .cat-banner-content .classyunicodedone {
    margin-bottom: 6px;
    max-width: 95%;
}
.mn-29-test-v5 .hero-subhead {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: Italic;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #eaeadf;
    margin-bottom: 5px;
}